<p id="notice"><%= notice %></p>

<h1>My Inbox</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>From</th>
      <th>Subject</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr class="<%= 'unread' if message.read.nil? %>">
        <td><%= User.find(message.sender_id).profile.full_name %></td>
        <td><%= link_to message.subject, message %></td>
        <td><%= time_ago_in_words(message.created_at) %></td>
        <td><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
