<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-4">
    <div class="card card-block">
      <h4 class="card-title">
  <%= @profile.first_name %> <%= @profile.last_name %> <%= link_to 'Message me', new_message_path(receiver: @profile.user.id), class: 'btn btn-warning' %></h4>



<p>
  <strong>Qualification:</strong>
  <%= @profile.qualification %>
</p>

<p>
  <strong>Years experience:</strong>
  <%= @profile.years_experience %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @profile.hourly_rate %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @profile.picture %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Street:</strong>
  <%= @profile.street %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @profile.suburb %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @profile.postcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-block">
      <h4 class="card-title">My Subjects</h4>
      <% @subjects.each do |subject| %>
        <% if @profile.subjects.include?(subject) %>
          <%= button_to subject.name, remove_subject_path(subject), method: :delete, class: 'btn btn-success disabled' %>
        <% else %>
          <%= button_to subject.name, add_subject_path(subject), class: 'btn btn-danger' %>
        <% end %>
      <% end %>
    </div>
    <div class="card card-block">
      <h4 class="card-title">My Year Levels</h4>
      <% @year_levels.each do |year_level| %>
        <% if @profile.year_levels.include?(year_level) %>
          <%= button_to year_level.name, remove_year_level_path(year_level), method: :delete, class: 'btn btn-success' %>
        <% else %>
          <%= button_to year_level.name, add_year_level_path(year_level), class: 'btn btn-danger' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<!-- <div id="map"></div> -->
  <script>
  handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": 0,
      "lng": 0,
      "picture": {
        "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
        "width":  32,
        "height": 32
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
  </script>

  <script src="//maps.google.com/maps/api/js?v=3.23&sensor=false&client=&key=AIzaSyAel2sOgAjOR1qEWpL8Qe0eYiP2DYNtyk8&libraries=geometry&language=&hl=&region="></script>
