<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-4">
    <div class="card card-block">
      <h4 class="card-title">
  <%= @profile.first_name %></h4>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @profile.qualification %>
</p>

<p>
  <strong>Years experience:</strong>
  <%= @profile.years_experience %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @profile.hourly_rate %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @profile.picture %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Street:</strong>
  <%= @profile.street %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @profile.suburb %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @profile.postcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
